
h1{
    background-color: cornsilk;
    text-align: center;
    right:5px;
    left: 5px;
    color: rgb(0, 0, 0);
}
body{
    height: 50px;
    background-color: cadetblue;
    color: aliceblue;
    line-height: 50px;

}
h2{
    text-align: center;
    color: aliceblue;
    
}
footer{
    width: 100%;
    background-color: aliceblue;
    color: black;
    text-align:center;
}
a{
    text-align: left;
    color: aliceblue;
}
